#bluebox_home_left {
    position: relative; /* ie7 */
}

#bluebox_home_left hr {
    position: absolute; /* ie 7 - was relative */
    top: 37px; /* ie 7 */
}

#bluebox_home_left p {
    margin-top: 0;
    padding-top: 8px;
}
#bluebox_home_right {
    padding-top: 15px;  /* ie7 */
}

.logo-project .multiple_tabs .tab {
    margin-left: 4px;
}

li#whitebox_secondary_submit_agree {
    position: relative;
}

input[name="upload_submit"] {
    position: absolute;
    right: 0;
}

.home .bluebox_nav {
    margin-top: 0; /* ie 7 */
}

.box, .label,  .title, .overview, .multiple_tabs .tab, .tab_container, .bluebox_top_margin, label, .logo_letter, #blog-description, .page_item, #logox_counter, .point_left, .point_right, .box_nav *, .whitebox_primary_post_attr *, .other_posts_content_two, .other_posts_content_three, .whitebox_primary_content_founder_info, .whitebox_primary_content_founder_social_title, .whitebox_primary_content_founder_social_right, .whitebox_primary_content_founder_picture, .logo_project_letter, .letter, #whitebox_secondary_upload_next a, #file_replace, .whitebox_big_category_entry, .whitebox_primary_section span, .whitebox_primary_section div, .ngg-gallery-thumbnail-box, .blog-single .whitebox_primary_post_attr, .whitebox_primary_share, .bluebox_content_quarter, .related_posts_hr, #twitter_body #twtr-widget-1 a.twtr-join-conv, .box_nav_no_title  {
    zoom: 1;
    *display: inline; /* display: inline-block for IE 7 */
}

#logox_counter hr {
    color: #ef8dd9;
}

.bluebox hr {
    color: #b9e5fb;
}

.whitebox hr {
    color: #ffffff;
}

.first-page-item {
    display: inline;
}

#twitter_body #twtr-widget-1 a.twtr-join-conv {
    text-align: right;
}

.about .whitebox_primary_content_nav_item {
    vertical-align: top;
}

#whitebox_secondary_preview_submit input {
    padding: 0;
    width: 187px;
    text-align: center;
}

.about hr, .logo-project hr {
    margin-top: -8px;
    margin-bottom: -8px;
}


.about hr, .logo-project hr {
    margin-top: -8px;
    margin-bottom: -8px;
}

.logo-project .whitebox_primary hr {
    margin-top: -8px;
    margin-bottom: -8px;
}

