@font-face {
 font-family: din_schrift;
 src: url(../fonts/DINMittelschrift.eot) 
}

.rounded-corners_bottom {
    border-radius: 0 0 10px 10px;
}

.rounded-corners_top_bottom_right{
    border-radius: 10px 10px 10px 0;
}

